@use "./utils/utils" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
    color: $base-color;
    background: $white-color;
}
a {
    text-decoration: none;
    color: $base-color;
    transition: .5s;
}
ul {
    li {
        list-style: none;
    }
}
img {
    vertical-align: bottom;
}

// br指定
.pc { display: block }
.sp { display: none }
@include mq() { 
    .pc { display: none }
    .sp { display: block }
}