@use "../utils/utils" as *;

.contact {
    .intro {
        width: calc(100% - 40px);
        margin: 0 auto 100px;
        @include mq() {
            margin: 0 auto 80px;
        }
        ul {
            display: flex;
            justify-content: center;
            margin: 0 0 40px 0;
            li {
                .icon {
                    font-family: 'Poppins', sans-serif;
                    color: #BFBFBF;
                    margin: 0 0 13px 0;
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    background: #F1F2F6;
                    @include mq() {
                        padding: 16px;
                    }
                }
                .text {
                    text-align: center;
                    font-size: 12px;
                }
            }
            li.border {
                width: 110px;
                bottom: 48px;
                border-bottom: 1px solid #ccc;
                position: relative;
                @include mq() {
                    width: 80px;
                    bottom: 44px;
                }
            }
            li.active {
                .icon {
                    color: #fff;
                    background: #D1001B;
                }
                .text {
                    font-weight: bold;
                    color: #D1001B;
                }
            }
        }
        h2 {
            text-align: center;
            font-size: 20px;
            margin: 0 0 20px 0;
        }
        p {
            text-align: center;
            font-size: 16px;
            line-height: 1.7;
            @include mq() {
                font-size: 12px;
            }
        }
    }

    // フォーム
    .form {
        width: calc(100% - 80px);
        max-width: 1000px;
        margin: 0 auto 136px;
        @include mq() {
            width: calc(100% - 40px);
            margin: 0 auto 120px;
        }
        form {
            .formSet {
                display: flex;
                justify-content: space-between;
                margin: 0 0 26px 0;
                padding: 0 0 26px 0;
                @include mq() {
                    flex-direction: column;
                    margin: 0 0 20px 0;
                    padding: 0 0 20px 0;
                }
                border-bottom: 1px solid #ccc;
                input, textarea, select { appearance: none;}
                select::-ms-expand {
                    display: none;
                }
                .label {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1;
                    width: 30%;
                    margin: 0;
                    position: relative;
                    top: 12px;
                    @include mq() {
                        justify-content: flex-start;
                        font-size: 14px;
                        width: 100%;
                        margin: 0 0 10px 0;
                        top: 0;
                    }
                    span {
                        text-align: center;
                        font-size: 14px;
                        margin: 0;
                        padding: 8px 12px;
                        font-weight: 500;
                        color: #fff;
                        border-radius: 30px;
                        background: #E63842;
                        @include mq() {
                            font-size: 12px;
                            margin: 0 0 0 20px;
                            padding: 4px 6px;
                        }
                    }
                    .any {
                        background: #333;
                    }
                }
                .no-relative {
                    top: 0;
                }
                .inputWrap {
                    width: 64%;
                    @include mq() {
                        width: 100%;
                    }
                    .input,
                    .textarea,
                    select {
                        font-size: 16px;
                        line-height: 1.4;
                        width: 100%;
                        padding: 16px 32px;
                        border: none;
                        outline: none;
                        border-radius: 8px;
                        background: #F1F2F6;
                        @include mq() {
                            font-size: 12px;
                            padding: 16px;
                        }
                    }
                    .textarea {
                        height: 240px;
                        resize: vertical;
                    }
                    .error {
                        display: block;
                        font-size: 12px;
                        font-weight: 400;
                        color: #E63842;
                        margin: 20px 0 0 0;
                        @include mq() {
                            margin: 10px 0 0 0;
                        }
                    }
                    // ラジオボタン
                    .radioItemWrap {
                        display: flex;
                        flex-wrap: wrap;
                        position: relative;
                        top: 6px;
                        @include mq() {
                            flex-direction: column;
                        }
                        .radioItem {
                            margin: 0 32px 0 0;
                            @include mq() {
                                margin: 0 0 10px 0;
                            }
                            label {
                                font-size: 16px;
                                color: #777;
                                cursor: pointer;
                                padding: 0 0 0 32px;
                                position: relative;
                                @include mq() {
                                    font-size: 12px;
                                    padding: 0 0 0 20px;
                                }
                            }
                            label::before,
                            label::after {
                                content: "";
                                display: block;
                                border-radius: 50%;
                                position: absolute;
                                transform: translateY(-50%);
                                top: 50%;
                            }  
                            label::before {
                                width: 30px;
                                height: 30px;
                                background: #F1F2F6;
                                @include mq() {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                            label::after {
                                width: 10px;
                                height: 10px;
                                background: #333;
                                opacity: 0;
                                left: 6px;
                                @include mq() {
                                    width: 6px;
                                    height: 6px;
                                    left: 3px;
                                }
                            }
                            input:checked + label::after {
                                opacity: 1;
                            }
                        }
                    }
                    select {
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        width: 260px;
                        margin: 0 0 20px 0;
                        border: none;
                        position: relative;
                        background: #F1F2F6 url(./img/contact/select-arrow.svg) no-repeat right 24px center / 8px auto;
                        @include mq() {
                            margin: 0 0 10px 0;
                        }
                    }
                    h4 {
                        font-size: 11px;
                        font-weight: 500;
                        margin: 12px 0;
                    }
                }
            }
            .lastFormSet {
                margin: 0 0 120px 0;
                padding: 0;
                border-bottom: none;
                @include mq() {
                    margin: 0 0 80px 0;
                }
            }
            button {
                display: block;
                font-size: 18px;
                font-weight: bold;
                width: 450px;
                
                color: #fff;
                margin: 0 auto 30px;
                padding: 32px;
                border: 2px solid #E63842;
                border-radius: 60px;
                background: #E63842;
                transition: .5s;
                position: relative;
                @include mq() {
                    width: 100%;
                    margin: 0 0 20px 0;
                    padding: 24px;
                }
                span {
                    position: absolute;
                    top: 50%;
                    right: 32px;
                    transform: translateY(-50%);
                    svg {
                        fill: #fff;
                    }
                    @include mq() {
                        right: 24px;
                    }
                }
                &:hover {
                    color: #E63842;
                    background: #fff;
                }
            }
        }
    }

    // 確認画面
    .confirm {
        width: calc(100% - 40px);
        max-width: 1000px;
        margin: 0 auto 120px;
        dl {
            display: flex;
            margin: 0 0 26px 0;
            padding: 0 40px 26px;
            border-bottom: 1px solid #ccc;
            @include mq() {
                flex-direction: column;
                margin: 0 0 20px 0;
                padding: 0 0 20px 0;
            }
            dt {
                font-size: 16px;
                font-weight: bold;
                width: 240px;
                margin: 0;
                position: relative;
                top: 6px;
                @include mq() {
                    font-size: 14px;
                    margin: 0 0 10px 0;
                }
            }
            dd {
                font-size: 16px;
                width: 100%;
                line-height: 1.7;
                @include mq() {
                    font-size: 14px;
                }
            }
        }
        form {
            width: calc(100% - 40px);
            max-width: 640px;
            margin: 120px auto;
            .prevBtn {  
                display: block;
                margin:  0 auto;
                padding: 0 16px 8px;
                border: none;
                border-bottom: 1px dashed #333;
                background: none;
            }
        }
    }

    // 完了画面
    .thanks {
        .backTop {
            text-align: center;
            display: block;
            width: 160px;
            margin: 0 auto;
            padding: 0 8px 8px;
            border-bottom: 1px dashed #333;
        }
    }
}